<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections> 
  
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    
    <alias alias="IDataContextFactory" type="UnityDAL.Interfaces.IDataContextFactory, UnityDAL"/>
    <alias alias="DataContextFactory" type="UnityDAL.UnityDemoDataContextFactory, UnityDAL"/>

    <alias alias="IProductsRepository" type="UnityDAL.Interfaces.IProductsRepository, UnityDAL"/>
    <alias alias="ProductsRepository" type="UnityDAL.ProductsRepository, UnityDAL"/>

    <alias alias="IProductBO" type="UnityBO.Interfaces.IProductBO, UnityBO"/>
    <alias alias="ProductBO" type="UnityBO.ProductBO, UnityBO"/>

    <alias alias="ProductService" type="UnityServiceLibrary.Services.ProductService, UnityServiceLibrary"/>
  
    <container>
      <register type="IDataContextFactory" mapTo="DataContextFactory" />
      <register type="IProductsRepository" mapTo="ProductsRepository" />
      <register type="IProductBO" mapTo="ProductBO" />
          
    </container>
    
  </unity>
 </configuration>