<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections> 
  
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    
    <alias alias="IDataContextFactory" type="UnityDAL.Interfaces.IDataContextFactory, UnityDAL"/>
    <alias alias="DataContextFactory" type="UnityDAL.UnityDemoDataContextFactory, UnityDAL"/>

    <alias alias="IProductsRepository" type="UnityDAL.Interfaces.IProductsRepository, UnityDAL"/>
    <alias alias="ProductsRepository" type="UnityDAL.ProductsRepository, UnityDAL"/>

    <alias alias="IProductCategoryRepository" type="UnityDAL.Interfaces.IProductCategoryRepository, UnityDAL"/>
    <alias alias="ProductCategoryRepository" type="UnityDAL.ProductCategoryRepository, UnityDAL"/>

    <alias alias="IProductSubcategoryRepository" type="UnityDAL.Interfaces.IProductSubcategoryRepository, UnityDAL"/>
    <alias alias="ProductSubcategoryRepository" type="UnityDAL.ProductSubcategoryRepository, UnityDAL"/>

    <!--<alias alias="IDataContextFactory" type="IDataContextFactory"/>
    <alias alias="DataContextFactory" type="UnityDemoDataContextFactory"/>

    <alias alias="IProductsRepository" type="IProductsRepository"/>
    <alias alias="ProductsRepository" type="ProductsRepository"/>

    <alias alias="IProductCategoryRepository" type="IProductCategoryRepository"/>
    <alias alias="ProductCategoryRepository" type="ProductCategoryRepository"/>

    <alias alias="IProductSubcategoryRepository" type="IProductSubcategoryRepository"/>
    <alias alias="ProductSubcategoryRepository" type="ProductSubcategoryRepository"/>-->

    <alias alias="IProductBO" type="UnityBO.Interfaces.IProductBO, UnityBO"/>
    <alias alias="ProductBO" type="UnityBO.ProductBO, UnityBO"/>

    <alias alias="ProductService" type="UnityServiceLibrary.Services.ProductService, UnityServiceLibrary"/>

    <!--<namespace name="UnityDAL"/>
    <namespace name="UnityDAL.Interfaces"/>
       
    <assembly name="UnityDAL"/>-->
    
    <container>
      <register type="IDataContextFactory" mapTo="DataContextFactory" />
      <register type="IProductsRepository" mapTo="ProductsRepository" />
      <register type="IProductCategoryRepository" mapTo="ProductCategoryRepository" />
      <register type="IProductSubcategoryRepository" mapTo="ProductSubcategoryRepository" />
      <register type="IProductBO" mapTo="ProductBO" />
          
    </container>
    
  </unity>
 </configuration>