<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.1.0.0,  Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <connectionStrings>
    <add name="dal"
        connectionString="Data Source=.\deved;Initial Catalog=AdventureWorks2008R2;Persist Security Info=True;User ID=amsInternalAppUser;Password=B3st@pp"
        providerName="System.Data.SqlClient" />
  </connectionStrings>

  <unity>
    <containers>
      <container>
         <types>
          
          <type type="UnityDAL.Interfaces.IDataContextFactory, UnityDAL" mapTo="UnityDAL.UnityDemoDataContextFactory, UnityDAL" />
           <type type="UnityDAL.Interfaces.IProductsRepository, UnityDAL" mapTo="UnityDAL.ProductsRepository, UnityDAL">
             <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement, Microsoft.Practices.Unity.Configuration">
               <constructor>
                 <param name="dataContextFactory" parameterType="UnityDAL.Interfaces.IDataContextFactory, UnityDAL">
                   <dependency />
                 </param>
               </constructor>
             </typeConfig>
           </type>
           <type type="UnityBO.Interfaces.IProductBO, UnityBO" mapTo="UnityBO.ProductBO, UnityBO" />
           <type type="UnityBO.Interfaces.IProduct, UnityBO" mapTo="UnityBO.DTO.ProductDTO, UnityBO" />
           
           
        </types>
      </container>
    </containers>
  </unity>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SilverlightBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="655360" maxBufferPoolSize="524288" maxReceivedMessageSize="655360"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://stonecold/UnityServiceApp/ProductService.svc/sl"
          binding="basicHttpBinding" bindingConfiguration="SilverlightBinding"
          contract="IProductService" name="SilverlightBinding" />
    </client>
  </system.serviceModel>
  
</configuration>